.item1 {
  grid-area: idOrder;
}
.item2 {
  grid-area: name;
}
.item3 { 
  grid-area: title;
}
.item4 {
  grid-area: date;
}
.item5 {
  grid-area: time;
}
.item6 {
  grid-area: seat;
}
.item7 {
  grid-area: price;
}
.item8 {
  grid-area: status;
}
.item9 {
  grid-area: timeAt;
}



.grid-container {
  width: 1150px;
  display: grid;
  grid-template-columns: 80px 170px 230px 80px 80px 80px auto 100px 170px;
  background-color: rgb(244, 247, 244);
}

.nav-bar {
  background-color: rgb(225, 245, 220);
  font-weight: bold;
}

.item {
  padding-left: 5px;
}

.order {
  margin-top: 1px;
  padding: 0px;
  padding-left: 5px;
}
/* .order-container {
    width: 1150px;
    background-color: rgb(225, 245, 219)
} */
