.media-left {
  width: 30%;
}

.media-left img {
  width: 94%;
}

.media {
  margin-top: 1em;
}

.col-2 {
  margin-top: 1em;
}

.media-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2831a7;
}
