.input {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
}

.search-box {
  width: 50%;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  color: tomato;
  margin-right: 10px;
  outline: none;
}
